doctype html
html
  head
    title= title
    script(src='jquery/jquery.js')
    script(type='text/javascript' src='js/bootstrap.min.js')
    link(rel='stylesheet', href='css/bootstrap.min.css')
  body
    block content
